extends ../layout

block content
 div(class='row')
  div(class='col-lg-2')
  div(class='col-lg-10')
   - each file, index in files
      form(id="userChange" action="changeHandler")
       div(class="col-lg-8")
        div(class="input-group" style='margin-top:20px;')
         input(type="text" class="form-control" value= file.originalname aria-label="..." disabled)
         div(class="input-group-btn")
          select(class="form-control dropdown-menu dropdown-menu-right selector" id="sel#{index}" style="margin:0;")
           - each reviewer in reviewers
              option= reviewer.username1
