extends layout

block content
 div(class='col-lg-1')
 div(class='col-lg-10' style='color:black;')
   .WordSection1
     p.MsoNormal(style='margin-top:0in;margin-right:0in;margin-bottom:0in;\
     margin-left:153.0pt;margin-bottom:.0001pt;text-indent:-153.0pt;line-height:\
     normal;mso-layout-grid-align:none;text-autospace:none')
       b
         i
           span(style='font-size:15.5pt;font-family:"Cambria\,BoldItalic";mso-bidi-font-family:\
           "Cambria\,BoldItalic"')
             | Conference Theme: Retrospect and Prospect of Private
             | Higher Education Provision in Africa
       span(style='font-size:10.0pt;\
       font-family:"Cambria\,BoldItalic";mso-bidi-font-family:"Cambria\,BoldItalic"')
         o:p
     p.MsoNormal(style='text-align:justify;line-height:150%')
       b
         span(style='font-size:14.0pt;mso-bidi-font-size:11.0pt;line-height:150%;font-family:\
         "Bookman Old Style",serif')
           o:p  
     p.MsoNormal(style='text-align:justify;line-height:150%')
       b
         span(style='font-size:14.0pt;mso-bidi-font-size:11.0pt;line-height:150%;font-family:\
         "Bookman Old Style",serif')
           | Sub-theme 1: Educational Policy and Financing of PHE
           | in Africa
           o:p
     p.MsoListParagraphCxSpFirst(style='text-align:justify;text-indent:-.25in;\
     line-height:150%;mso-list:l0 level1 lfo1')
       //if !supportLists
         | [if !supportLists]
       span(style='font-size:14.0pt;mso-bidi-font-size:11.0pt;line-height:150%;font-family:\
       Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol')
         span(style='mso-list:Ignore')
           img(width='16', height='16', src='Sample%20Conference%20Themes_files/image001.gif', alt='*')
           span(style='font:7.0pt "Times New Roman"')    
       // [endif]
       span(style='font-size:14.0pt;mso-bidi-font-size:11.0pt;line-height:150%;font-family:\
       "Bookman Old Style",serif')
         | Policies of major financial institutions (
         span.SpellE Eg
         | . International Financial Corporation, World Bank,
         | Domestic/National banks, African Development Bank,
         span.SpellE etc
         | )
         | and donor organizations (
         span.SpellE Eg
         | . European Union, USAID,
         span.SpellE etc
         | ) towards private higher education providers and the
         | challenges of securing funding for teaching and research;
         o:p
     p.MsoListParagraphCxSpMiddle(style='text-align:justify;text-indent:-.25in;\
     line-height:150%;mso-list:l0 level1 lfo1')
       //if !supportLists
         | [if !supportLists]
       span(style='font-size:14.0pt;mso-bidi-font-size:11.0pt;line-height:150%;font-family:\
       Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol')
         span(style='mso-list:Ignore')
           img(width='16', height='16', src='Sample%20Conference%20Themes_files/image001.gif', alt='*')
           span(style='font:7.0pt "Times New Roman"')    
       // [endif]
       span(style='font-size:14.0pt;mso-bidi-font-size:11.0pt;line-height:150%;font-family:\
       "Bookman Old Style",serif')
         | Financial constraints and lack of skilled manpower
         | for program diversification by private higher education institutions in Africa;
         o:p
     p.MsoListParagraphCxSpMiddle(style='text-align:justify;text-indent:-.25in;\
     line-height:150%;mso-list:l0 level1 lfo1')
       //if !supportLists
         | [if !supportLists]
       span(style='font-size:14.0pt;mso-bidi-font-size:11.0pt;line-height:150%;font-family:\
       Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol')
         span(style='mso-list:Ignore')
           img(width='16', height='16', src='Sample%20Conference%20Themes_files/image001.gif', alt='*')
           span(style='font:7.0pt "Times New Roman"')    
       // [endif]
       span(style='font-size:14.0pt;mso-bidi-font-size:11.0pt;line-height:150%;font-family:\
       "Bookman Old Style",serif')
         | Re-visiting higher education policies of African
         | governments as instruments of opportunities and challenges (with case
         | presentations);
         o:p
     p.MsoListParagraphCxSpMiddle(style='text-align:justify;text-indent:-.25in;\
     line-height:150%;mso-list:l0 level1 lfo1')
       //if !supportLists
         | [if !supportLists]
       span(style='font-size:14.0pt;mso-bidi-font-size:11.0pt;line-height:150%;font-family:\
       Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol')
         span(style='mso-list:Ignore')
           img(width='16', height='16', src='Sample%20Conference%20Themes_files/image001.gif', alt='*')
           span(style='font:7.0pt "Times New Roman"')    
       // [endif]
       span(style='font-size:14.0pt;mso-bidi-font-size:11.0pt;line-height:150%;font-family:\
       "Bookman Old Style",serif')
         | Demand for higher education in Africa and its
         | opportunity for the private education providers;
         o:p
     p.MsoListParagraphCxSpMiddle(style='text-align:justify;text-indent:-.25in;\
     line-height:150%;mso-list:l0 level1 lfo1')
       //if !supportLists
         | [if !supportLists]
       span(style='font-size:14.0pt;mso-bidi-font-size:11.0pt;line-height:150%;font-family:\
       Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol')
         span(style='mso-list:Ignore')
           img(width='16', height='16', src='Sample%20Conference%20Themes_files/image001.gif', alt='*')
           span(style='font:7.0pt "Times New Roman"')    
       // [endif]
       span(style='font-size:14.0pt;mso-bidi-font-size:11.0pt;line-height:150%;font-family:\
       "Bookman Old Style",serif')
         | National policies on public-private partnership
         | pertinent to private HEIs;
         o:p
     p.MsoListParagraphCxSpMiddle(style='text-align:justify;text-indent:-.25in;\
     line-height:150%;mso-list:l0 level1 lfo1')
       //if !supportLists
         | [if !supportLists]
       span(style='font-size:14.0pt;mso-bidi-font-size:11.0pt;line-height:150%;font-family:\
       Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol')
         span(style='mso-list:Ignore')
           img(width='16', height='16', src='Sample%20Conference%20Themes_files/image001.gif', alt='*')
           span(style='font:7.0pt "Times New Roman"')    
       // [endif]
       span(style='font-size:14.0pt;mso-bidi-font-size:11.0pt;line-height:150%;font-family:\
       "Bookman Old Style",serif')
         | Causes of student attrition, and the implications to
         | private higher education institutions in Africa;
         o:p
     p.MsoListParagraphCxSpMiddle(style='text-align:justify;text-indent:-.25in;\
     line-height:150%;mso-list:l0 level1 lfo1')
       //if !supportLists
         | [if !supportLists]
       span(style='font-size:14.0pt;mso-bidi-font-size:11.0pt;line-height:150%;font-family:\
       Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol')
         span(style='mso-list:Ignore')
           img(width='16', height='16', src='Sample%20Conference%20Themes_files/image001.gif', alt='*')
           span(style='font:7.0pt "Times New Roman"')    
       // [endif]
       span(style='font-size:14.0pt;mso-bidi-font-size:11.0pt;line-height:150%;font-family:\
       "Bookman Old Style",serif')
         | The dilemma of increasing tuition fee in the face of
         | declining enrollment rates at private HEIs in Africa;
         o:p
     p.MsoListParagraphCxSpMiddle(style='text-align:justify;text-indent:-.25in;\
     line-height:150%;mso-list:l0 level1 lfo1')
       //if !supportLists
         | [if !supportLists]
       span(style='font-size:14.0pt;mso-bidi-font-size:11.0pt;line-height:150%;font-family:\
       Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol')
         span(style='mso-list:Ignore')
           img(width='16', height='16', src='Sample%20Conference%20Themes_files/image001.gif', alt='*')
           span(style='font:7.0pt "Times New Roman"')    
       // [endif]
       span(style='font-size:14.0pt;mso-bidi-font-size:11.0pt;line-height:150%;font-family:\
       "Bookman Old Style",serif')
         | Status, Challenges and Opportunities for
         | International Partnership of Private HEIs (University to University, Donor to
         | University, Business/Industry to University); and
         o:p
     p.MsoListParagraphCxSpLast(style='text-align:justify;text-indent:-.25in;\
     line-height:150%;mso-list:l0 level1 lfo1')
       //if !supportLists
         | [if !supportLists]
       span(style='font-size:14.0pt;mso-bidi-font-size:11.0pt;line-height:150%;font-family:\
       Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol')
         span(style='mso-list:Ignore')
           img(width='16', height='16', src='Sample%20Conference%20Themes_files/image001.gif', alt='*')
           span(style='font:7.0pt "Times New Roman"')    
       // [endif]
       span(style='font-size:14.0pt;mso-bidi-font-size:11.0pt;line-height:150%;font-family:\
       "Bookman Old Style",serif')
         | Others issues related to the sub-theme.
         o:p
     p.MsoNormal(style='text-align:justify;line-height:150%')
       b
         span(style='font-size:14.0pt;mso-bidi-font-size:11.0pt;line-height:150%;font-family:\
         "Bookman Old Style",serif')
           | Sub-theme 2: Systems of Ensuring and Assuring
           | Quality of Education in Private HEIs in Africa
           o:p
     p.MsoListParagraphCxSpFirst(style='text-align:justify;text-indent:-.25in;\
     line-height:150%;mso-list:l2 level1 lfo2')
       //if !supportLists
         | [if !supportLists]
       span(style='font-size:14.0pt;mso-bidi-font-size:11.0pt;line-height:150%;font-family:\
       Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol')
         span(style='mso-list:Ignore')
           img(width='16', height='16', src='Sample%20Conference%20Themes_files/image001.gif', alt='*')
           span(style='font:7.0pt "Times New Roman"')    
       // [endif]
       span(style='font-size:14.0pt;mso-bidi-font-size:11.0pt;line-height:150%;font-family:\
       "Bookman Old Style",serif')
         | The status of quality of education in private higher
         | education institutions in Africa;
         o:p
     p.MsoListParagraphCxSpMiddle(style='text-align:justify;text-indent:-.25in;\
     line-height:150%;mso-list:l2 level1 lfo2')
       //if !supportLists
         | [if !supportLists]
       span(style='font-size:14.0pt;mso-bidi-font-size:11.0pt;line-height:150%;font-family:\
       Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol')
         span(style='mso-list:Ignore')
           img(width='16', height='16', src='Sample%20Conference%20Themes_files/image001.gif', alt='*')
           span(style='font:7.0pt "Times New Roman"')    
       // [endif]
       span(style='font-size:14.0pt;mso-bidi-font-size:11.0pt;line-height:150%;font-family:\
       "Bookman Old Style",serif')
         | Ethical issues hampering quality of higher education
         | provision by private higher education institutions in Africa;
         o:p
     p.MsoListParagraphCxSpMiddle(style='text-align:justify;text-indent:-.25in;\
     line-height:150%;mso-list:l2 level1 lfo2')
       //if !supportLists
         | [if !supportLists]
       span(style='font-size:14.0pt;mso-bidi-font-size:11.0pt;line-height:150%;font-family:\
       Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol')
         span(style='mso-list:Ignore')
           img(width='16', height='16', src='Sample%20Conference%20Themes_files/image001.gif', alt='*')
           span(style='font:7.0pt "Times New Roman"')    
       // [endif]
       span(style='font-size:14.0pt;mso-bidi-font-size:11.0pt;line-height:150%;font-family:\
       "Bookman Old Style",serif')
         | Practices of incentive schemes in HEIs as outcomes
         | of quality audit results;
         o:p
     p.MsoListParagraphCxSpMiddle(style='text-align:justify;text-indent:-.25in;\
     line-height:150%;mso-list:l2 level1 lfo2')
       //if !supportLists
         | [if !supportLists]
       span(style='font-size:14.0pt;mso-bidi-font-size:11.0pt;line-height:150%;font-family:\
       Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol')
         span(style='mso-list:Ignore')
           img(width='16', height='16', src='Sample%20Conference%20Themes_files/image001.gif', alt='*')
           span(style='font:7.0pt "Times New Roman"')    
       // [endif]
       span(style='font-size:14.0pt;mso-bidi-font-size:11.0pt;line-height:150%;font-family:\
       "Bookman Old Style",serif')
         | Continental experiences on systems and mechanisms of
         | ensuring and assuring quality of higher education provision in Africa;
         o:p
     p.MsoListParagraphCxSpMiddle(style='text-align:justify;text-indent:-.25in;\
     line-height:150%;mso-list:l2 level1 lfo2')
       //if !supportLists
         | [if !supportLists]
       span(style='font-size:14.0pt;mso-bidi-font-size:11.0pt;line-height:150%;font-family:\
       Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol')
         span(style='mso-list:Ignore')
           img(width='16', height='16', src='Sample%20Conference%20Themes_files/image001.gif', alt='*')
           span(style='font:7.0pt "Times New Roman"')    
       // [endif]
       span(style='font-size:14.0pt;mso-bidi-font-size:11.0pt;line-height:150%;font-family:\
       "Bookman Old Style",serif')
         | Employability of graduates of private higher
         | education institutions in Africa;
         o:p
     p.MsoListParagraphCxSpMiddle(style='text-align:justify;text-indent:-.25in;\
     line-height:150%;mso-list:l2 level1 lfo2')
       //if !supportLists
         | [if !supportLists]
       span(style='font-size:14.0pt;mso-bidi-font-size:11.0pt;line-height:150%;font-family:\
       Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol')
         span(style='mso-list:Ignore')
           img(width='16', height='16', src='Sample%20Conference%20Themes_files/image001.gif', alt='*')
           span(style='font:7.0pt "Times New Roman"')    
       // [endif]
       span(style='font-size:14.0pt;mso-bidi-font-size:11.0pt;line-height:150%;font-family:\
       "Bookman Old Style",serif')
         | University governance and its relationship to
         | quality of higher education in Africa;
         o:p
     p.MsoListParagraphCxSpMiddle(style='text-align:justify;text-indent:-.25in;\
     line-height:150%;mso-list:l2 level1 lfo2')
       //if !supportLists
         | [if !supportLists]
       span(style='font-size:14.0pt;mso-bidi-font-size:11.0pt;line-height:150%;font-family:\
       Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol')
         span(style='mso-list:Ignore')
           img(width='16', height='16', src='Sample%20Conference%20Themes_files/image001.gif', alt='*')
           span(style='font:7.0pt "Times New Roman"')    
       // [endif]
       span(style='font-size:14.0pt;mso-bidi-font-size:11.0pt;line-height:150%;font-family:\
       "Bookman Old Style",serif')
         | The use of ICT in teaching and research by private
         | HEIs in Africa, and mechanisms to improve quality of student’s research
         | activities; and
         o:p
     p.MsoListParagraphCxSpLast(style='text-align:justify;text-indent:-.25in;\
     line-height:150%;mso-list:l2 level1 lfo2')
       //if !supportLists
         | [if !supportLists]
       span(style='font-size:14.0pt;mso-bidi-font-size:11.0pt;line-height:150%;font-family:\
       Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol')
         span(style='mso-list:Ignore')
           img(width='16', height='16', src='Sample%20Conference%20Themes_files/image001.gif', alt='*')
           span(style='font:7.0pt "Times New Roman"')    
       // [endif]
       span(style='font-size:14.0pt;mso-bidi-font-size:11.0pt;line-height:150%;font-family:\
       "Bookman Old Style",serif')
         | Other similar issues related to the sub-theme.
         o:p
     p.MsoNormal(style='text-align:justify;line-height:150%')
       b
         span(style='font-size:14.0pt;mso-bidi-font-size:11.0pt;line-height:150%;font-family:\
         "Bookman Old Style",serif')
           | Sub-theme 3: Gender Mainstreaming, HIV/AIDS,
           | Community Services in PHE in Africa
           o:p
     p.MsoListParagraphCxSpFirst(style='text-align:justify;text-indent:-.25in;\
     line-height:150%;mso-list:l1 level1 lfo3')
       //if !supportLists
         | [if !supportLists]
       span(style='font-size:14.0pt;mso-bidi-font-size:11.0pt;line-height:150%;font-family:\
       Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol')
         span(style='mso-list:Ignore')
           img(width='16', height='16', src='Sample%20Conference%20Themes_files/image001.gif', alt='*')
           span(style='font:7.0pt "Times New Roman"')    
       // [endif]
       span(style='font-size:14.0pt;mso-bidi-font-size:11.0pt;line-height:150%;font-family:\
       "Bookman Old Style",serif')
         | Gender policies and practices of private higher
         | education institutions and its contributions towards increasing girls’ tertiary
         | education performances;
         o:p
     p.MsoListParagraphCxSpMiddle(style='text-align:justify;text-indent:-.25in;\
     line-height:150%;mso-list:l1 level1 lfo3')
       //if !supportLists
         | [if !supportLists]
       span(style='font-size:14.0pt;mso-bidi-font-size:11.0pt;line-height:150%;font-family:\
       Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol')
         span(style='mso-list:Ignore')
           img(width='16', height='16', src='Sample%20Conference%20Themes_files/image001.gif', alt='*')
           span(style='font:7.0pt "Times New Roman"')    
       // [endif]
       span(style='font-size:14.0pt;mso-bidi-font-size:11.0pt;line-height:150%;font-family:\
       "Bookman Old Style",serif')
         | Community services by private higher education
         | institutions and students’ involvement in extra-curricular activities;
         o:p
     p.MsoListParagraphCxSpMiddle(style='text-align:justify;text-indent:-.25in;\
     line-height:150%;mso-list:l1 level1 lfo3')
       //if !supportLists
         | [if !supportLists]
       span(style='font-size:14.0pt;mso-bidi-font-size:11.0pt;line-height:150%;font-family:\
       Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol')
         span(style='mso-list:Ignore')
           img(width='16', height='16', src='Sample%20Conference%20Themes_files/image001.gif', alt='*')
           span(style='font:7.0pt "Times New Roman"')    
       // [endif]
       span(style='font-size:14.0pt;mso-bidi-font-size:11.0pt;line-height:150%;font-family:\
       "Bookman Old Style",serif')
         | Challenges faced by private higher education
         | providers due to HIV/AIDS and their contributions towards creating responsible
         | students/graduates;
         o:p
     p.MsoListParagraphCxSpLast(style='text-align:justify;text-indent:-.25in;\
     line-height:150%;mso-list:l1 level1 lfo3')
       //if !supportLists
         | [if !supportLists]
       span(style='font-size:14.0pt;mso-bidi-font-size:11.0pt;line-height:150%;font-family:\
       Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol')
         span(style='mso-list:Ignore')
           img(width='16', height='16', src='Sample%20Conference%20Themes_files/image001.gif', alt='*')
           span(style='font:7.0pt "Times New Roman"')    
       // [endif]
       span(style='font-size:14.0pt;mso-bidi-font-size:11.0pt;line-height:150%;font-family:\
       "Bookman Old Style",serif')
         | National policies to reduce girls’ attrition in HEIs
         | and their impacts.
         o:p
     p.MsoNormal(style='text-align:justify;line-height:150%')
       span(style='font-size:14.0pt;mso-bidi-font-size:11.0pt;line-height:150%;font-family:\
       "Bookman Old Style",serif')
         o:p  
