extends layout

block content
 div(class='col-lg-1')
 div(class='col-lg-10')
  h1 contact us
  div(style='color:black;')
   p Tel.0115 53 80 20/0115 53 80 17
   p P. O. Box 18490/1211
   p Fax 0115 53 80 00
   p E-mail smu@smuc.edu.et
   p To the right of Oillibya, from Federal Police Building 200 Meters Down to Africa Union Road (Sarbet Road)
   p Addis Ababa
   p Ethiopia
