extends layout

block content
 div(class='container')
  div(class='row')
   div(class='col-lg-7')
    h3 What changes
    h5 (time from - time to)
    p Note the lack of the <code>&lt;meta name="viewport" content="width=device-width, initial-scale=1"&gt;</code>, which disables the zooming aspect of sites in mobile devices. In addition, we reset our container's width and are basically good to go.
