extends layout
//div(class='col-lg-7')
  h3 What changes
  h5 (time from - time to)
  p Note the lack of the <code>&lt;meta name="viewport" content="width=device-width, initial-scale=1"&gt;</code>, which disables the zooming aspect of sites in mobile devices. In addition, we reset our container's width and are basically good to go.
block content
   div(class='col-lg-10' style='color:black;')
    .WordSection1
        p.MsoNormal(style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;\
        line-height:normal;mso-outline-level:1')
          b
            span(style='font-size:24.0pt;\
            font-family:"Times New Roman",serif;mso-fareast-font-family:"Times New Roman";\
            mso-font-kerning:18.0pt')
              | Program
              o:p
        p.MsoNormal(align='center', style='mso-margin-top-alt:auto;mso-margin-bottom-alt:\
        auto;text-align:center;line-height:normal;mso-outline-level:2')
          b
            span(style='font-size:18.0pt;font-family:"Times New Roman",serif;mso-fareast-font-family:\
            "Times New Roman";color:green')
              | Preliminary Program of IEEE
              span.SpellE Africon
              |  2015 Conference
          b
            span(style='font-size:18.0pt;font-family:"Times New Roman",serif;mso-fareast-font-family:\
            "Times New Roman"')
              o:p
        p.MsoNormal(style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;\
        text-align:justify;line-height:normal')
          span(style='font-size:12.0pt;\
          font-family:"Times New Roman",serif;mso-fareast-font-family:"Times New Roman"')
            | IEEE AFRICON
            | 2015 will be held in the historic UNECA Conference Center, in Addis Ababa, from
            | 14–17 September 2015. The event will feature a comprehensive technical program
            | with distinguished keynote speakers, tutorials, workshops, and a vibrant social
            | program. Below is the preliminary program drafted by the organizing
            span.GramE committee.
            |  You can also download its PDF version HERE
            span.GramE [
            a(href='http://sites.ieee.org/africon2015/files/2014/10/Africon2015_Schedule_V5.3.pdf')
              span(style='color:blue') Africon2015_Schedule_V5.3
            |  ]
            o:p
        p.MsoNormal(style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;\
        text-align:justify;line-height:normal')
          span(style='font-size:12.0pt;\
          font-family:"Times New Roman",serif;mso-fareast-font-family:"Times New Roman";\
          color:blue;mso-no-proof:yes')
            //if gte vml 1
              v:shapetype#_x0000_t75(coordsize='21600,21600', o:spt='75', o:preferrelative='t', path='m@4@5l@4@11@9@11@9@5xe', filled='f', stroked='f')
                v:stroke(joinstyle='miter')
                  v:formulas
                    v:f(eqn='if lineDrawn pixelLineWidth 0')
                      v:f(eqn='sum @0 1 0')
                        v:f(eqn='sum 0 0 @1')
                          v:f(eqn='prod @2 1 2')
                            v:f(eqn='prod @3 21600 pixelWidth')
                              v:f(eqn='prod @3 21600 pixelHeight')
                                v:f(eqn='sum @0 0 1')
                                  v:f(eqn='prod @6 1 2')
                                    v:f(eqn='prod @7 21600 pixelWidth')
                                      v:f(eqn='sum @8 21600 0')
                                        v:f(eqn='prod @7 21600 pixelHeight')
                                          v:f(eqn='sum @10 21600 0')
                  v:path(o:extrusionok='f', gradientshapeok='t', o:connecttype='rect')
                    o:lock(v:ext='edit', aspectratio='t')
              v:shape#Picture_x0020_1(o:spid='_x0000_i1028', type='#_x0000_t75', alt='Africon2015_Schedule_V5.3', style='width:616.5pt;height:463.5pt;\
              visibility:visible;mso-wrap-style:square')
                v:imagedata(src='Schedule_files/image001.jpg', o:title='Africon2015_Schedule_V5')
            //if !vml
              | [if !vml]
            img(border='0', width='822', height='618', src='Schedule_files/image001.jpg', alt='Africon2015_Schedule_V5.3', v:shapes='Picture_x0020_1')
            // [endif]
          span(style='font-size:12.0pt;font-family:"Times New Roman",serif;mso-fareast-font-family:\
          "Times New Roman"')
            o:p
        p.MsoNormal(style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;\
        text-align:justify;line-height:normal')
          span(style='font-size:12.0pt;\
          font-family:"Times New Roman",serif;mso-fareast-font-family:"Times New Roman"')   
          a(href='http://sites.ieee.org/africon2015/files/2014/10/Africon2015_Prel_Schedule_V5.1_Legend.jpg')
            span(style='font-size:12.0pt;font-family:"Times New Roman",serif;mso-fareast-font-family:\
            "Times New Roman";color:blue;mso-no-proof:yes;text-decoration:none;text-underline:\
            none')
              //if gte vml 1
                v:shape#Picture_x0020_2(o:spid='_x0000_i1027', type='#_x0000_t75', alt='Africon2015_Prel_Schedule_V5.1_Legend', href='http://sites.ieee.org/africon2015/files/2014/10/Africon2015_Prel_Schedule_V5.1_Legend.jpg', style='width:437.25pt;height:228pt;visibility:visible;mso-wrap-style:square', o:button='t')
                  v:fill(o:detectmouseclick='t')
                    v:imagedata(src='Schedule_files/image002.jpg', o:title='Africon2015_Prel_Schedule_V5')
              //if !vml
                | [if !vml]
              span(style='mso-ignore:vglayout')
                img(border='0', width='583', height='304', src='Schedule_files/image003.jpg', alt='Africon2015_Prel_Schedule_V5.1_Legend', v:shapes='Picture_x0020_2')
              // [endif]
          span(style='font-size:12.0pt;font-family:"Times New Roman",serif;mso-fareast-font-family:\
          "Times New Roman"')
            o:p
        .MsoNormal(align='center', style='margin-bottom:0in;margin-bottom:.0001pt;\
        text-align:center;line-height:normal')
          span(style='font-size:12.0pt;font-family:\
          "Times New Roman",serif;mso-fareast-font-family:"Times New Roman"')
            hr(size='2', width='100%', align='center')
        p.MsoNormal(align='center', style='mso-margin-top-alt:auto;mso-margin-bottom-alt:\
        auto;text-align:center;line-height:normal')
          b
            span(style='font-size:18.0pt;\
            font-family:"Book Antiqua",serif;mso-fareast-font-family:"Times New Roman";\
            mso-bidi-font-family:"Times New Roman";color:green')
              | Detail Program for
              | IEEE
              span.SpellE Africon
              |  2015 is now 
              span.GramE Disclosed
          span(style='font-size:12.0pt;font-family:"Times New Roman",serif;mso-fareast-font-family:\
          "Times New Roman"')
            o:p
        p.MsoNormal(style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;\
        line-height:normal')
          span(style='font-size:12.0pt;font-family:"Times New Roman",serif;\
          mso-fareast-font-family:"Times New Roman";color:red')
            | The Conference detail
            | program is NOW disclosed to all authors, presenters and participants.
          span(style='font-size:12.0pt;font-family:"Times New Roman",serif;\
          mso-fareast-font-family:"Times New Roman"')
            | The link to the site is here:
            o:p
        p.MsoNormal(align='center', style='mso-margin-top-alt:auto;mso-margin-bottom-alt:\
        auto;text-align:center;line-height:normal')
          a(href='http://easychair.org/smart-program/IEEEAFRICON2015/index.html', target='_blank')
            span(style='font-size:12.0pt;font-family:"Times New Roman",serif;\
            mso-fareast-font-family:"Times New Roman";color:blue') http://easychair.org/smart-program/IEEEAFRICON2015/index.html
          span(style='font-size:12.0pt;font-family:"Times New Roman",serif;mso-fareast-font-family:\
          "Times New Roman"')
            o:p
        .MsoNormal(align='center', style='margin-bottom:0in;margin-bottom:.0001pt;\
        text-align:center;line-height:normal')
          span(style='font-size:12.0pt;font-family:\
          "Times New Roman",serif;mso-fareast-font-family:"Times New Roman"')
            hr(size='2', width='100%', align='center')
        p.MsoNormal(align='center', style='mso-margin-top-alt:auto;mso-margin-bottom-alt:\
        auto;text-align:center;line-height:normal')
          b
            span(style='font-size:18.0pt;\
            font-family:"Book Antiqua",serif;mso-fareast-font-family:"Times New Roman";\
            mso-bidi-font-family:"Times New Roman";color:green')
              | IEEE
              span.SpellE Africon
              | 2015 Parallel Sessions
          span(style='font-size:12.0pt;font-family:\
          "Times New Roman",serif;mso-fareast-font-family:"Times New Roman"')
            o:p
        p.MsoNormal(style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;\
        text-align:justify;line-height:normal')
          span(style='font-size:12.0pt;\
          font-family:"Times New Roman",serif;mso-fareast-font-family:"Times New Roman"')
            | IEEE
            | Africon2015 technical program contains three parallel sessions that are focused
            | on specific thematic areas providing range of options for conference participants.
            | Further information on each session is available from the below links.
            o:p
        ul(type='disc')
          li.MsoNormal(style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;\
          line-height:normal;mso-list:l0 level1 lfo1;tab-stops:list .5in')
            a(href='http://sites.ieee.org/africon2015/?p=3618', target='_blank')
              span(style='font-size:12.0pt;font-family:"Times New Roman",serif;mso-fareast-font-family:\
              "Times New Roman";color:blue') IEEE Women in Engineering Workshop
            span(style='font-size:12.0pt;font-family:"Times New Roman",serif;mso-fareast-font-family:\
            "Times New Roman";color:blue')
              | (
              span.SpellE WiE
              | )
            span(style='font-size:12.0pt;font-family:"Times New Roman",serif;mso-fareast-font-family:\
            "Times New Roman";color:green')  
            span(style='font-size:12.0pt;\
            font-family:"Times New Roman",serif;mso-fareast-font-family:"Times New Roman"')
              o:p
          li.MsoNormal(style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;\
          line-height:normal;mso-list:l0 level1 lfo1;tab-stops:list .5in')
            a(href='http://sites.ieee.org/africon2015/?p=3621', target='_blank')
              span(style='font-size:12.0pt;font-family:"Times New Roman",serif;mso-fareast-font-family:\
              "Times New Roman";color:blue') International Year of Light Workshop
            span(style='font-size:12.0pt;font-family:"Times New Roman",serif;mso-fareast-font-family:\
            "Times New Roman";color:blue')  (IYL) 
            span(style='font-size:12.0pt;font-family:"Times New Roman",serif;mso-fareast-font-family:\
            "Times New Roman"')
              o:p
          li.MsoNormal(style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;\
          line-height:normal;mso-list:l0 level1 lfo1;tab-stops:list .5in')
            span(style='font-size:12.0pt;font-family:"Book Antiqua",serif;mso-fareast-font-family:\
            "Times New Roman";mso-bidi-font-family:"Times New Roman";color:blue')
              | AT1
              | & AT2
            span(style='font-size:12.0pt;font-family:"Times New Roman",serif;\
            mso-fareast-font-family:"Times New Roman"')  
            span(style='font-size:10.0pt;font-family:"Book Antiqua",serif;mso-fareast-font-family:\
            "Times New Roman";mso-bidi-font-family:"Times New Roman";color:green')
              | [
            a(href='http://sites.ieee.org/africon2015/files/2014/10/TutorialAT-1.pdf')
              span(style='font-size:10.0pt;font-family:"Book Antiqua",serif;mso-fareast-font-family:\
              "Times New Roman";mso-bidi-font-family:"Times New Roman";color:blue') Tutorial(AT-1)
            span(style='font-size:10.0pt;font-family:"Book Antiqua",serif;mso-fareast-font-family:\
            "Times New Roman";mso-bidi-font-family:"Times New Roman";color:green')
              | ]
              | [
            a(href='http://sites.ieee.org/africon2015/files/2014/10/TutorialAT-2.pdf')
              span(style='font-size:10.0pt;font-family:"Book Antiqua",serif;mso-fareast-font-family:\
              "Times New Roman";mso-bidi-font-family:"Times New Roman";color:blue') Tutorial(AT-2)
            span(style='font-size:10.0pt;font-family:"Book Antiqua",serif;mso-fareast-font-family:\
            "Times New Roman";mso-bidi-font-family:"Times New Roman";color:green')  ]
            span(style='font-size:12.0pt;font-family:"Times New Roman",serif;mso-fareast-font-family:\
            "Times New Roman"')
              o:p
          li.MsoNormal(style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;\
          line-height:normal;mso-list:l0 level1 lfo1;tab-stops:list .5in')
            span(style='font-size:12.0pt;font-family:"Book Antiqua",serif;mso-fareast-font-family:\
            "Times New Roman";mso-bidi-font-family:"Times New Roman";color:blue')
              | SS I,
              | II, & III
            span(style='font-size:10.0pt;font-family:"Book Antiqua",serif;\
            mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman";\
            color:green') [
            a(href='http://sites.ieee.org/africon2015/files/2014/10/AFRICON15_SpecialSession_PDF_SS_I_II_III.pdf')
              span(style='font-size:10.0pt;font-family:"Book Antiqua",serif;mso-fareast-font-family:\
              "Times New Roman";mso-bidi-font-family:"Times New Roman";color:blue') AFRICON15_SpecialSessions_PDF_SS_I_II_III
            span(style='font-size:10.0pt;font-family:"Book Antiqua",serif;mso-fareast-font-family:\
            "Times New Roman";mso-bidi-font-family:"Times New Roman";color:green')  ]
            span(style='font-size:12.0pt;font-family:"Times New Roman",serif;mso-fareast-font-family:\
            "Times New Roman"')
              o:p
          li.MsoNormal(style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;\
          line-height:normal;mso-list:l0 level1 lfo1;tab-stops:list .5in')
            span(style='font-size:12.0pt;font-family:"Times New Roman",serif;mso-fareast-font-family:\
            "Times New Roman";color:blue')
              | IEEE Ad Hoc Committee on Activities in
              | Africa Workshop (AHCAA)
            span(style='font-size:10.0pt;\
            font-family:"Book Antiqua",serif;mso-fareast-font-family:"Times New Roman";\
            mso-bidi-font-family:"Times New Roman";color:green') [
            a(href='http://sites.ieee.org/africon2015/files/2014/10/AHCAATrackAFRICON2015.pdf', target='_blank')
              span(style='font-size:10.0pt;font-family:"Book Antiqua",serif;\
              mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman";\
              color:blue') Program PDF AHCAA
            span(style='font-size:10.0pt;\
            font-family:"Book Antiqua",serif;mso-fareast-font-family:"Times New Roman";\
            mso-bidi-font-family:"Times New Roman";color:green')  ]
            span(style='font-size:12.0pt;font-family:"Times New Roman",serif;mso-fareast-font-family:\
            "Times New Roman";color:blue')  
            span(style='font-size:12.0pt;\
            font-family:"Times New Roman",serif;mso-fareast-font-family:"Times New Roman"')
              o:p
        p.MsoNormal
          o:p  
