extends layout

block content
 div(class='col-lg-1')
 div(class='col-lg-10' style='color:black;')
  .WordSection1
      .MsoNormal(align='center', style='margin-bottom:0in;margin-bottom:.0001pt;      text-align:center;line-height:normal')
        span(style='font-size:14.0pt;mso-bidi-font-size:        12.0pt;font-family:"Cambria",serif;mso-ascii-theme-font:major-latin;mso-fareast-font-family:        "Times New Roman";mso-hansi-theme-font:major-latin;mso-bidi-font-family:"Times New Roman"')
          hr(size='2', width='100%', align='center')
      h1 Author Guidelines
      p(style='text-align:justify')
        strong
          span(style='font-size:14.0pt;font-family:          "Book Antiqua",serif;color:green')
            | Manuscript Templates for IEEE AFRICON 2015
            | Proceedings
      p(style='text-align:justify')
        span(style='font-family:"Book Antiqua",serif')
          | MS
          | Word and
          span.SpellE LaTeX
          |  templates for IEEE AFRICON
          |           2015 conference papers (US-letter or A4 page size) are provided
          |           at:
        a(href='http://www.ieee.org/conferences_events/conferences/publishing/templates.html', target='_blank')
          span(style='font-family:"Book Antiqua",serif') http://www.ieee.org/conferences_events/conferences/publishing/templates.html
      p(style='text-align:justify')
        strong
          span(style='font-family:"Book Antiqua",serif')
            | PLEASE
            | NOTE:
        span(style='font-family:"Book Antiqua",serif')
          | To be
          | published in the IEEE AFRICON 2015 Conference Proceedings and to be eligible
          | for publication in IEEE
          span.SpellE Xplore
          | ®, an author of an
          |           accepted paper is required to register for the conference at the full or
          |           limited (member or non-member) rate and the paper must be presented by an
          |           author of that paper at the conference unless the TPC Chair grants permission
          |           for a substitute presenter arranged in advance of the event and who is
          |           qualified both to present and answer questions.  Non-refundable
          |           registration fees must be paid prior to uploading the final IEEE formatted, publication-ready
          |           version of the paper.  For authors with multiple accepted papers, one full
          |           registration is valid for up to 3 papers.  Accepted and presented papers
          |           will be published in the IEEE AFRICON 2015 Conference Proceedings and submitted
          |           to IEEE
          span.SpellE Xplore
          | ® as well as other Abstracting and
          |           Indexing (A&I) databases.
      .MsoNormal(align='center', style='text-align:center')
        hr(size='2', width='100%', align='center')
      p(style='text-align:justify')
        strong
          span(style='font-size:14.0pt;font-family:          "Book Antiqua",serif;color:green')  Final Paper Guidelines:
      p(style='text-align:justify')
        span(style='font-family:"Book Antiqua",serif')
          | All
          | final paper should be written in English with a maximum paper length of
          strong
            span(style='font-family:"Book Antiqua",serif') five (5)
          |  printed pages
          |           including figures. An additional fee of 100 USD will be charged for each
          |           additional page up to a maximum of eight (8) pages.
      .MsoNormal(align='center', style='text-align:center')
        hr(size='2', width='100%', align='center')
      p(style='text-align:justify')
        strong
          span(style='font-size:14.0pt;font-family:          "Book Antiqua",serif;color:green') Important IEEE Policy Announcement:
      p(style='text-align:justify')
        span(style='font-family:"Book Antiqua",serif')
          | Papers
          | are reviewed on the basis that they do not contain plagiarized material and
          | have not been submitted to any other conference at the same time (double
          | submission). These matters are taken very seriously and the IEEE will take
          | action against any author who has engaged in either practice.
      p(style='text-align:justify')
        strong
          span(style='font-family:"Book Antiqua",serif')
            | IEEE
            | Web Page on Plagiarism:
      p(style='text-align:justify')
        a(href='http://www.ieee.org/publications_standards/publications/rights/plagiarism.html', target='_blank')
          span(style='font-family:"Book Antiqua",serif') http://www.ieee.org/publications_standards/publications/rights/plagiarism.html
        span(style='font-family:"Book Antiqua",serif')  
      p(style='text-align:justify')
        strong
          span(style='font-family:"Book Antiqua",serif')
            | IEEE
            | Web Page on Double Submission:
      p(style='text-align:justify')
        a(href='http://www.ieee.org/publications_standards/publications/rights/Multi_Sub_Guidelines_Intro.html', target='_blank')
          span(style='font-family:"Book Antiqua",serif')
            | http://www.ieee.org/publications_standards/publications/rights/Multi_Sub_Guidelines_Intro.html
      p.MsoNormal(style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;      line-height:normal')
        span(style='font-size:14.0pt;mso-bidi-font-size:12.0pt;        font-family:"Cambria",serif;mso-ascii-theme-font:major-latin;mso-fareast-font-family:        "Times New Roman";mso-hansi-theme-font:major-latin;mso-bidi-font-family:"Times New Roman"')
          o:p  
      ul(type='disc')
        li.MsoNormal(style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;        line-height:normal;mso-list:l0 level1 lfo2;tab-stops:list .5in')
          b
            span(style='font-size:14.0pt;mso-bidi-font-size:12.0pt;font-family:"Cambria",serif;            mso-ascii-theme-font:major-latin;mso-fareast-font-family:"Times New Roman";            mso-hansi-theme-font:major-latin;mso-bidi-font-family:"Times New Roman"')
              | Reviewers
              | Guideline
          span(style='font-size:14.0pt;mso-bidi-font-size:12.0pt;          font-family:"Cambria",serif;mso-ascii-theme-font:major-latin;mso-fareast-font-family:          "Times New Roman";mso-hansi-theme-font:major-latin;mso-bidi-font-family:          "Times New Roman"')  (
          a(href='http://sites.ieee.org/africon2015/files/2014/09/IEEE-AFRICON-2015-Reviewer-Guide.pdf')
            span(style='font-size:14.0pt;mso-bidi-font-size:12.0pt;font-family:"Cambria",serif;            mso-ascii-theme-font:major-latin;mso-fareast-font-family:"Times New Roman";            mso-hansi-theme-font:major-latin;mso-bidi-font-family:"Times New Roman"')
              | IEEE
              | AFRICON 2015 Reviewer Guide
          span(style='font-size:14.0pt;          mso-bidi-font-size:12.0pt;font-family:"Cambria",serif;mso-ascii-theme-font:          major-latin;mso-fareast-font-family:"Times New Roman";mso-hansi-theme-font:          major-latin;mso-bidi-font-family:"Times New Roman"')
            | )
            o:p
      p.MsoNormal(style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;      line-height:normal')
        b(style='mso-bidi-font-weight:normal')
          span(style='font-size:14.0pt;font-family:"Cambria",serif;mso-ascii-theme-font:major-latin;          mso-fareast-font-family:"Times New Roman";mso-hansi-theme-font:major-latin;          mso-bidi-font-family:"Times New Roman";color:green')
            | For Camera Ready
            | Submission,
        span(style='font-size:14.0pt;font-family:"Cambria",serif;        mso-ascii-theme-font:major-latin;mso-fareast-font-family:"Times New Roman";        mso-hansi-theme-font:major-latin;mso-bidi-font-family:"Times New Roman";        color:green')
        a(href='http://africon2015.org/camera-ready-submission-guideline/')
          span(style='font-size:18.0pt;font-family:"Cambria",serif;mso-ascii-theme-font:major-latin;          mso-fareast-font-family:"Times New Roman";mso-hansi-theme-font:major-latin;          mso-bidi-font-family:"Times New Roman";color:#FF6600') click here
        span(style='font-size:18.0pt;font-family:"Cambria",serif;mso-ascii-theme-font:major-latin;        mso-fareast-font-family:"Times New Roman";mso-hansi-theme-font:major-latin;        mso-bidi-font-family:"Times New Roman";color:#FF6600') .
        span(style='font-size:12.0pt;font-family:"Cambria",serif;mso-ascii-theme-font:major-latin;        mso-fareast-font-family:"Times New Roman";mso-hansi-theme-font:major-latin;        mso-bidi-font-family:"Times New Roman"')
          o:p
      .MsoNormal(align='center', style='margin-bottom:0in;margin-bottom:.0001pt;      text-align:center;line-height:normal')
        span(style='font-size:12.0pt;font-family:        "Cambria",serif;mso-ascii-theme-font:major-latin;mso-fareast-font-family:"Times New Roman";        mso-hansi-theme-font:major-latin;mso-bidi-font-family:"Times New Roman"')
          hr(size='2', width='100%', align='center')
      .MsoNormal(align='center', style='margin-bottom:0in;margin-bottom:.0001pt;      text-align:center;line-height:normal')
        span(style='font-size:12.0pt;font-family:        "Cambria",serif;mso-ascii-theme-font:major-latin;mso-fareast-font-family:"Times New Roman";        mso-hansi-theme-font:major-latin;mso-bidi-font-family:"Times New Roman"')
          hr(size='2', width='100%', align='center')
      p.MsoNormal(style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;      line-height:normal')
        span(style='font-size:12.0pt;font-family:"Cambria",serif;        mso-ascii-theme-font:major-latin;mso-fareast-font-family:"Times New Roman";        mso-hansi-theme-font:major-latin;mso-bidi-font-family:"Times New Roman"')
          | IEEE
          | AFRICON is IEEE’s flagship conference of the African continent and
          | provides a platform for academics and industry professionals, from all over the
          | world, to share ideas and present their latest research. IEEE AFRICON
          | 2015 will be held on the historic UNECA Conference Center, in Addis Ababa, from
          | 14–17 September 2015. The theme of the conference is 
          b
            | “
            span(style='color:green') GREEN INNOVATION FOR AFRICAN RENAISSANCE
            | ”
          |  and
          |           the event will feature a comprehensive technical program with distinguished
          |           keynote speakers and a vibrant social program.
          o:p
      .MsoNormal(align='center', style='margin-bottom:0in;margin-bottom:.0001pt;      text-align:center;line-height:normal')
        span(style='font-size:12.0pt;font-family:        "Cambria",serif;mso-ascii-theme-font:major-latin;mso-fareast-font-family:"Times New Roman";        mso-hansi-theme-font:major-latin;mso-bidi-font-family:"Times New Roman"')
          hr(size='2', width='100%', align='center')
      p.MsoNormal(style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;      line-height:normal')
        b
          span(style='font-size:14.0pt;font-family:"Cambria",serif;          mso-ascii-theme-font:major-latin;mso-fareast-font-family:"Times New Roman";          mso-hansi-theme-font:major-latin;mso-bidi-font-family:"Times New Roman";          color:green') Important dates for paper
        span(style='font-size:14.0pt;        font-family:"Cambria",serif;mso-ascii-theme-font:major-latin;mso-fareast-font-family:        "Times New Roman";mso-hansi-theme-font:major-latin;mso-bidi-font-family:"Times New Roman";        color:green') :
        span(style='font-size:12.0pt;font-family:"Cambria",serif;        mso-ascii-theme-font:major-latin;mso-fareast-font-family:"Times New Roman";        mso-hansi-theme-font:major-latin;mso-bidi-font-family:"Times New Roman"')
          o:p
      p.MsoNormal(style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;      line-height:normal')
        b
          span(style='font-size:12.0pt;font-family:"Cambria",serif;          mso-ascii-theme-font:major-latin;mso-fareast-font-family:"Times New Roman";          mso-hansi-theme-font:major-latin;mso-bidi-font-family:"Times New Roman"') Submission:
        span(style='font-size:12.0pt;font-family:"Cambria",serif;mso-ascii-theme-font:major-latin;        mso-fareast-font-family:"Times New Roman";mso-hansi-theme-font:major-latin;        mso-bidi-font-family:"Times New Roman"')
          span(style='color:red')
            span.msoDel
              del Friday, March 13, 2015.
            |  Sunday, April 19, 2015. 
            b (CLOSED)
          o:p
      p.MsoNormal(style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;      line-height:normal')
        b
          span(style='font-size:12.0pt;font-family:"Cambria",serif;          mso-ascii-theme-font:major-latin;mso-fareast-font-family:"Times New Roman";          mso-hansi-theme-font:major-latin;mso-bidi-font-family:"Times New Roman"')
            | Acceptance
            | notification:
        span(style='font-size:12.0pt;font-family:"Cambria",serif;        mso-ascii-theme-font:major-latin;mso-fareast-font-family:"Times New Roman";        mso-hansi-theme-font:major-latin;mso-bidi-font-family:"Times New Roman"')
          span(style='color:red')  Friday, June 5, 2015
          o:p
      p.MsoNormal(style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;      line-height:normal')
        b
          span(style='font-size:12.0pt;font-family:"Cambria",serif;          mso-ascii-theme-font:major-latin;mso-fareast-font-family:"Times New Roman";          mso-hansi-theme-font:major-latin;mso-bidi-font-family:"Times New Roman"')
            | Camera-ready
            | submission:
        span(style='font-size:12.0pt;font-family:"Cambria",serif;        mso-ascii-theme-font:major-latin;mso-fareast-font-family:"Times New Roman";        mso-hansi-theme-font:major-latin;mso-bidi-font-family:"Times New Roman"')
          span(style='color:red')
            | Friday, July 12, 2015.
            b  
          b
          o:p
      .MsoNormal(align='center', style='margin-bottom:0in;margin-bottom:.0001pt;      text-align:center;line-height:normal')
        span(style='font-size:12.0pt;font-family:        "Cambria",serif;mso-ascii-theme-font:major-latin;mso-fareast-font-family:"Times New Roman";        mso-hansi-theme-font:major-latin;mso-bidi-font-family:"Times New Roman"')
          hr(size='2', width='100%', align='center')
      p.MsoNormal(style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;      line-height:normal')
        b
          span(style='font-size:14.0pt;font-family:"Cambria",serif;          mso-ascii-theme-font:major-latin;mso-fareast-font-family:"Times New Roman";          mso-hansi-theme-font:major-latin;mso-bidi-font-family:"Times New Roman";          color:green') Important dates for tutorial and workshop:
        span(style='font-size:12.0pt;font-family:"Cambria",serif;mso-ascii-theme-font:major-latin;        mso-fareast-font-family:"Times New Roman";mso-hansi-theme-font:major-latin;        mso-bidi-font-family:"Times New Roman"')
          o:p
      p.MsoNormal(style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;      line-height:normal')
        b
          span(style='font-size:12.0pt;font-family:"Cambria",serif;          mso-ascii-theme-font:major-latin;mso-fareast-font-family:"Times New Roman";          mso-hansi-theme-font:major-latin;mso-bidi-font-family:"Times New Roman"') Submission:
        span(style='font-size:12.0pt;font-family:"Cambria",serif;mso-ascii-theme-font:major-latin;        mso-fareast-font-family:"Times New Roman";mso-hansi-theme-font:major-latin;        mso-bidi-font-family:"Times New Roman"')
          span(style='color:red')
            span.msoDel
              del Friday, March 6, 2015.
            |  Sunday, April 19, 2015. 
            b (CLOSED)
          o:p
      p.MsoNormal(style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;      line-height:normal')
        b
          span(style='font-size:12.0pt;font-family:"Cambria",serif;          mso-ascii-theme-font:major-latin;mso-fareast-font-family:"Times New Roman";          mso-hansi-theme-font:major-latin;mso-bidi-font-family:"Times New Roman"')
            | Acceptance
            | notification:
        span(style='font-size:12.0pt;font-family:"Cambria",serif;        mso-ascii-theme-font:major-latin;mso-fareast-font-family:"Times New Roman";        mso-hansi-theme-font:major-latin;mso-bidi-font-family:"Times New Roman"')
          span(style='color:red') Friday, June 5, 2015
          o:p
      .MsoNormal(align='center', style='margin-bottom:0in;margin-bottom:.0001pt;      text-align:center;line-height:normal')
        span(style='font-size:12.0pt;font-family:        "Cambria",serif;mso-ascii-theme-font:major-latin;mso-fareast-font-family:"Times New Roman";        mso-hansi-theme-font:major-latin;mso-bidi-font-family:"Times New Roman"')
          hr(size='2', width='100%', align='center')
      p.MsoNormal(style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;      line-height:normal')
        b
          span(style='font-size:12.0pt;font-family:"Cambria",serif;          mso-ascii-theme-font:major-latin;mso-fareast-font-family:"Times New Roman";          mso-hansi-theme-font:major-latin;mso-bidi-font-family:"Times New Roman";          color:red')
            | ANNOUNCEMENT
            span.GramE :-
        span(style='font-size:12.0pt;font-family:"Cambria",serif;mso-ascii-theme-font:major-latin;        mso-fareast-font-family:"Times New Roman";mso-hansi-theme-font:major-latin;        mso-bidi-font-family:"Times New Roman";color:#333399')
          | Notifications of
          | Papers acceptance/rejection has already sent to Authors via Authors’ emails. In
          | case if you are an Author and haven’t received email from the
          span.SpellE Africon
          |  2015, please use this email address
        span(style='font-size:12.0pt;font-family:        "Cambria",serif;mso-ascii-theme-font:major-latin;mso-fareast-font-family:"Times New Roman";        mso-hansi-theme-font:major-latin;mso-bidi-font-family:"Times New Roman"')
          o:p
      .MsoNormal(align='center', style='margin-bottom:0in;margin-bottom:.0001pt;      text-align:center;line-height:normal')
        span(style='font-size:12.0pt;font-family:        "Cambria",serif;mso-ascii-theme-font:major-latin;mso-fareast-font-family:"Times New Roman";        mso-hansi-theme-font:major-latin;mso-bidi-font-family:"Times New Roman"')
          hr(size='2', width='100%', align='center')
      p.MsoNormal(style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;      line-height:normal')
        span(style='font-size:12.0pt;font-family:"Cambria",serif;        mso-ascii-theme-font:major-latin;mso-fareast-font-family:"Times New Roman";        mso-hansi-theme-font:major-latin;mso-bidi-font-family:"Times New Roman"')
          | For
          | submission procedures,
        a(href='http://sites.ieee.org/africon2015/submission/', target='_blank', title='Submission')
          span(style='font-size:12.0pt;font-family:"Cambria",serif;          mso-ascii-theme-font:major-latin;mso-fareast-font-family:"Times New Roman";          mso-hansi-theme-font:major-latin;mso-bidi-font-family:"Times New Roman"')
            | Click
            | Here
        span(style='font-size:12.0pt;font-family:"Cambria",serif;        mso-ascii-theme-font:major-latin;mso-fareast-font-family:"Times New Roman";        mso-hansi-theme-font:major-latin;mso-bidi-font-family:"Times New Roman"')
          o:p
      p.MsoNormal(style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;      line-height:normal')
        span(style='font-size:12.0pt;font-family:"Cambria",serif;        mso-ascii-theme-font:major-latin;mso-fareast-font-family:"Times New Roman";        mso-hansi-theme-font:major-latin;mso-bidi-font-family:"Times New Roman"')
          | Call
          | For Paper Poster (PDF):
        a(href='http://sites.ieee.org/africon2015/files/2013/06/DownloadAfricon2015_CFP_Poster_April19ClickHere.pdf')
          span(style='font-size:12.0pt;font-family:"Cambria",serif;mso-ascii-theme-font:major-latin;          mso-fareast-font-family:"Times New Roman";mso-hansi-theme-font:major-latin;          mso-bidi-font-family:"Times New Roman"')
            | Download
            span.GramE )Africon2015
            | _CFP_Poster_April19(
            span.SpellE ClickHere
            | )
        span(style='font-size:12.0pt;        font-family:"Cambria",serif;mso-ascii-theme-font:major-latin;mso-fareast-font-family:        "Times New Roman";mso-hansi-theme-font:major-latin;mso-bidi-font-family:"Times New Roman"')
          b
            span(style='color:red') (CLOSED)
          o:p
      p.MsoNormal(style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;      line-height:normal')
        span(style='font-size:12.0pt;font-family:"Cambria",serif;        mso-ascii-theme-font:major-latin;mso-fareast-font-family:"Times New Roman";        mso-hansi-theme-font:major-latin;mso-bidi-font-family:"Times New Roman"')
          | Call
          | For Paper Invitation (PDF):
        a(href='http://sites.ieee.org/africon2015/files/2013/06/DownloadAfricon2015-CFP_April19ClickHere.pdf')
          span(style='font-size:12.0pt;font-family:"Cambria",serif;mso-ascii-theme-font:major-latin;          mso-fareast-font-family:"Times New Roman";mso-hansi-theme-font:major-latin;          mso-bidi-font-family:"Times New Roman"')
            | (Download
            span.GramE )Africon2015
            | -CFP_April19(
            span.SpellE ClickHere
            | )
        span(style='font-size:12.0pt;        font-family:"Cambria",serif;mso-ascii-theme-font:major-latin;mso-fareast-font-family:        "Times New Roman";mso-hansi-theme-font:major-latin;mso-bidi-font-family:"Times New Roman"')
          b
            span(style='color:red') (CLOSED)
          o:p
      p.MsoNormal
        span(style='font-family:"Cambria",serif;mso-ascii-theme-font:        major-latin;mso-hansi-theme-font:major-latin')
          o:p  
